@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  justify-content: space-between;
  @include desktop {
    flex-direction: row;
  }

  &__container {
    max-width: 100%;
    margin-bottom: 2rem;
    &__text {
      font-size: 1.5rem;
      letter-spacing: 1.5px;
      @include tablet {
        font-size: 2rem;
      }
    }
    &__text-paragraph {
      font-size: 1.25rem;
    }
    &-img {
      width: 100%;

      @include desktop {
        width: 40vw;
        margin-left: 8rem;
        padding: 0 4rem 4rem 0;
      }
    }
  }
}
