@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.blog {
  margin-bottom: 2rem;
  &__post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 850px;
    width: 100%;
    margin: auto;
    @include tablet {
      padding: 0rem 75px;
    }
    &--title {
      padding: 1rem 0.5rem 0rem 0rem;
      font-size: 1.75rem;
      @include tablet {
        font-size: 2rem;
      }
      letter-spacing: 0.25rem;
    }
    &--time {
      padding-bottom: 1rem;
    }
    &--body {
      letter-spacing: 0.1rem;
      font-size: 1.125rem;
    }
    &--image {
      width: 100%;
      padding-top: 1rem;
    }
    &--line-break {
      border-top: solid white 2px;
      margin-top: 1rem;
    }
    &--likes-button {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
    }
    &--tags {
      color: rgba(177, 177, 177, 0.855);
    }
  }
}
.cannot-find {
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  font-size: 1.25rem;
  @include tablet {
    font-size: 1.5rem;
  }
}
