@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

body {
  font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
  background-color: #141414;
  color: #ffffff;
  font-family: Oswald;
  font-weight: 200;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
}
@media (min-width: 1280px) {
  body {
    margin: auto;
    padding: 2rem;
    max-width: 100%;
  }
}

p {
  letter-spacing: 0.05rem;
}

ol,
ul,
menu {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}
a:hover {
  color: #8f8f8f;
}

button,
[type=button] {
  background-color: initial;
  cursor: pointer;
  border: initial;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: none;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 36px;
  top: 36px;
}
.bm-burger-button img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  transform-origin: center center;
}
.bm-burger-button:hover img {
  transform: scale(0.9);
}

/* ... (Remaining styles) */
/* Position and sizing of clickable cross button */
/* Color/shape of close button cross */
.bm-cross {
  background: none;
  margin-top: 0.25rem;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(29, 29, 29);
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
/* Wrapper for item list */
.bm-item-list {
  color: #e7e7e7;
  padding-left: 0.5em;
  padding-top: 3rem;
}

/* Individual item */
.bm-item {
  margin-left: 0.5rem;
  margin-bottom: 0.4rem;
  display: inline-block;
  transition: color 0.3s ease;
  padding-bottom: 0.1rem !important;
}
.bm-item:hover {
  color: #8f8f8f;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.menu-item--active {
  border-bottom: 2px solid white;
}
.menu-item--inactive {
  color: white;
}/*# sourceMappingURL=Navigation.css.map */