@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
  @include desktop {
    margin: auto;
    max-width: 95%;
    margin-bottom: 7rem;
  }
  &__logo-text {
    display: flex;
    flex-direction: row;
  }
  &__title {
    text-transform: uppercase;
    transition: color 0.3s ease;
    font-size: 6vw; // Adjust font size based on viewport width
    letter-spacing: 5px;
    width: auto; // Allow the title to shrink based on content
    max-width: 15rem; // Set the maximum width
    min-width: 0.5625rem;
    // margin-left: 0.5rem; // Adjust margin for smaller screens
    padding-right: 2.5rem; // Adjust margin for smaller screens

    @include tablet {
      font-size: 2rem; // Adjust font size for larger screens
      // margin-left: 1rem; // Adjust margin for larger screens
    }
  }
  &__full-menu {
    display: flex;
    width: 400rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
  &__link {
    padding: 0 0.25rem;
    font-size: 1.25rem;

    transition: color 0.3s ease;
    &:hover {
      color: #8f8f8f;
    }
  }
}
