@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.still-life {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 2rem;
  &__img {
    align-self: center;
    width: 100%;
    max-width: 600px;
    border: solid white 1px;
  }
}
